node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

config/dev.js

# adding because of windows vs. linux incompatibilities
yarn.lock
package-lock.json

yarn-error.lock